/* html,
body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: poppines;
}
h1 {
  margin: 0;
}
.container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.3em;
  margin: 1em;
  padding: 1em;
} */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #2d2e36;
  font-family: 'Poppins', sans-serif;
}
img {
  width: 100%;
  border-radius: 0.2rem;
}
a {
  text-decoration: none;
}
.container {
  background: #383a45;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  max-width: 270px;
}
.title {
  color: white;
  font-size: 1.2rem;
  line-height: 119.7%;
}
.description {
  color: #8d91a6;
  font-size: 0.8rem;
}
.link {
  width: 0.8rem;
}
@media only screen and (min-width: 550px) {
  .container {
    max-width: 500px;
  }
  .photo {
    width: 9rem;
    margin-right: 1rem;
  }
  a {
    display: flex;
  }
}
@media only screen and (min-width: 950px) {
  a {
    font-size: 30px;
  }
}
